
/*RUBIK*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Lateef:wght@200&family=Montserrat&family=Staatliches&display=swap');




body{
     font-family: 'Montserrat', sans-serif;
}


.wrapper{
     width: 100vw;
     height: 100vh;
     background: #DBB0EC;
     background: linear-gradient(0deg, #DBB0EC, #5007E1);
     color: rgb(248, 246, 255);
}

.brand span{
     color:black;

}

.brand{
     margin-top:-7px;
}

.navbar{
     display:flex;
     justify-content: space-between;
     padding: 2em;
}
.menu{
     display:flex;
     width: 50%;
     justify-content: space-around;

}
.menu li{
     list-style: none;
}

.menu a{
     color:#000000;
     text-decoration: none;
     padding: 10px 20px;
}
.menu .Principal{
     color: #DBB0EC;
}
.menu a:hover{
     color:#5007E1;
     background-color:#DBB0EC;
     transition: ease-in .4s;
}

.main{
     margin: 0 auto;
     width: 80vw;
     height: 80vh;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     align-items: center;
}

h1{
     font-size: 3em;
     color:#DBB0EC;
}
span{
     color: #22022e;
}
.DescargaCV{
     padding: 10px 20px;
     background-color:#DBB0EC;
     border: none;
     border-radius: 20px;
     margin-top: 10px;
     cursor: pointer;
     box-shadow: 1px 3px 11px -5px rgba(89, 6, 241, 0.69);
}
.DescargaCV:hover{
     background-color: white;
     box-shadow: none;
}

.main img{
     width:300px;
     border: 7px solid rgba(89, 6, 241, 0.69);
     border-radius: 10px;
}

.about{
     display: grid;
     grid-template-columns: repeat(10,1fr);
     width:100vw;
     align-items: center;
}

.about-me{
     width: 70%;
     grid-column: 1/5;
}
.about-info{
     grid-column: 5/10;
     padding:2em;
}

.about-info h2{
     font-size: 2em;
     color:#5007E1 ;
}
.divider{
     height: 4px;
     width:60px;
     background-color:#22022e;
     margin-top:2px;
     margin-bottom: 2em;
}
.about p{
     margin-bottom: 1em;
}