@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300;500&family=Lateef:wght@200&family=Leckerli+One&family=Montserrat&family=Staatliches&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(175deg, rgba(2,0,36,1) 29%, rgba(145,85,255,1) 74%, rgba(192,178,255,0.577468487394958) 100%);
}

.wrapper {
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(175deg, rgba(0,0,0,1) 29%, rgba(145,85,255,1) 74%, rgba(192,178,255,0.577468487394958) 100%);  color: rgb(248, 246, 255);
     overflow: hidden;
}

.navbar{
     display:flex;
     justify-content: space-between;
     padding: 2em;
     color: #DBB0EC;
}
.menu{
     display:flex;
     width: 50%;
     justify-content: space-around;

}
.menu li{
     list-style: none;
}

.menu a{
     color:#DBB0EC;
     text-decoration: none;
     padding: 10px 20px;
}
.menu .Principal{
     color: #DBB0EC;
}
.menu a:hover{
     color:#5007E1;
     background-color:#DBB0EC;
     transition: ease-in .4s;
}
.brand img{
    width: 150px;
}

h1{
     font-size: 3em;
     color:#DBB0EC;
}
span{
     color: #22022e;
}

.logo i{
    height: 100px;
    width:100px;
    background-color:darkslateblue;
    border-radius: 50%;
    color: blanchedalmond;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6rem;
}

.container .container-pic{
    width:300px;
    height:300px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px double rgba(55, 22, 109, 0.884);
    box-sizing: 5px 7px 25px rgba(0,0,0,0.5);    
}

.container-pic img{
    height:120%;
    width: 100%;
    transition: 0.5s;
}

.container-pic img:hover{
    transform: scale(1.2);
}
.container-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.container-text .social i{
    color:#DBB0EC;
    font-size: 48px;
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.5s;
}

.container-text .social i:hover{
    color:darkslateblue;
    transform: rotate(360deg);
}

.btnDescargaCV,.form-submit {
     padding: 10px 20px;
     background-color:#DBB0EC;
     border: none;
     border-radius: 20px;
     margin-top: 25px;
     margin-bottom: 30px;
     cursor: pointer;
     box-shadow: 1px 3px 11px -5px rgba(89, 6, 241, 0.69);
}
.btnDescargaCV:hover{
     background-color: darkslateblue;
     box-shadow: none;
     transform: translateY(-3px);
}
.form-submit:hover{
    background-color: darkslateblue;
    box-shadow: none;
    transform: translateY(-3px);
}

.container_card{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.container_card .card{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor:pointer;
}

.container_card .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container_card .card h4{
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}

.container_card .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight:300;
}

.container_card .card a{
    font-weight: 500;
    text-decoration: none;
    color:#DBB0EC;
}
.container_card .card img{
    width: 100%;
    height: 210px;

}


.form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-top: 15px;
    margin-left: 60px;
    color:#000000;
    font-weight: 700;
}
.form a i{
    color:#5007E1;
    margin-left: 65px;
}
.form{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 50px;
}

.form h1{
    text-align: center;
    margin-top: 0;
    color:#22022e;
    margin-bottom: 50px;
}

.form-input, .form-label, .form-submit{
    display:block;
    width: 100%;
    font-size:1.3em;
}
.form-input{
    padding: 20px;  
    background: transparent;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.form-label{
    padding-left: 15px;
    position: absolute;
    margin-top: -90px;
    z-index: inherit;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;   
}
.form-input:focus{
    outline:1px solid rgba(0,0,0,0.7);   
}

.form-input:focus+
.form-label{
    margin-top: -140px;
}
.fijar{
    margin-top:-140px;
}

.claseNombre{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    color:#5007E1;
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
    text-align: center;
    -webkit-box-reflect : below 1px linear-grandient(trasnparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%,18%,20%,50.1%,65.1%,80%, 90.1%, 92%{
        color: #b09fd1;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #5007E1;
        text-shadow: 0 0 10px #a14fff,
        0 0 20px #a14fff,
        0 0 40px #a14fff,
        0 0 80px #a14fff,
        0 0 160px #a14fff;
    }
}
.container-nombre{
    margin:auto;
    display:table;
}
.container-nombre h1{
    float: left;
    color: #fff;
    position:relative;
}

h1 span{
    margin-bottom: 10px;
    position:absolute;
    right:0;
    width:0;
    background:black;
    border-left: 1px solid #fff;

    animation: maquina 5s infinite alternate steps(18);
}

@keyframes maquina {
    from{
        width:100%;
    }
    to{
        width:0;
    }
}